/* ===== Fonts ===== */
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===== переменные ===== */
:root {
    /* ===== Fonts ===== */
    --font-inter: 'Inter', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* ===== Brand Colors ===== */
    --accent-500: #E73439; /* основной фирменный */
    --accent-600: #c32125; /* тёмный акцент, кастомный */

    /* ===== Neutral Colors ===== */
    --white: #ffffff;
    --gray-50: #F5FAF6;  /* светлый фон */
    --gray-100: #EDEDED; /* остаётся */
    --gray-200: #D5D5D5;
    --gray-800: #22282A; /* фирменный чёрный */
    --gray-700: #2c2c2c;
    --gray-600: #9D9B99; /* фирменный серый */

    /* ===== Text Colors ===== */
    --text-primary: var(--gray-800);
    --text-secondary: var(--gray-600);
    --text-inverse: var(--white);

    /* ===== Background Colors ===== */
    --bg-light: var(--gray-50);
    --bg-soft: var(--gray-100);
    --bg-muted: var(--gray-200);
    --bg-dark: rgba(34, 40, 42, 0.95); /* фирменный чёрный с прозрачностью */

    /* ===== Шрифт ===== */
    --font-base: 18px;
    --font-sm: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.5rem;
    --font-xl: 2.25rem;
    --font-xxl: 3.5rem;


    /* ===== Дополнительно ===== */
    --transition-default: all 0.3s ease;
    --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.06);
    --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.08);
}